* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
min-height: 100vh;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #eeeeee;
}

a{
  text-decoration: none;
  padding: 5px;
}
.page{
  padding: 10px;

}
.footer{
  position: sticky;
  width: 100%;
  top: 100%;
  padding: 10px;
  background-color: #eeeeee;
  text-align: center;
}